
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Oswald', sans-serif;
  background-color: #1C3041;
  ;
  color: white;
}

.App {
  display: flex;
  min-height: 100vh;
}

.static-half,
.scrollable-half {
  padding: 20px;
  width: 50%;
}

.static-half {
  height: 100vh;
  position: fixed;
  overflow-y: auto;
  text-align: center;
}

.scrollable-half {
  margin-left: 50%;
  overflow-y: auto;
}

.hero .img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 20px auto;
  display: block;
}

nav {
  margin-top: 2rem;
}

nav a {
  color: white;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  margin: 0 10px;
}

nav a::before {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background-color: white;
  transition: width 0.3s;
  position: absolute;
  bottom: -5px;
  left: 0;
}

nav a:hover::before,
nav a:focus::before {
  width: 100%;
}

nav a.active {
  color: #4ea2b9;
}

#about,
#projects,
#skills,
#contact {
  margin-bottom: 4rem;
}

#projects .container {
  max-width: 1200px;
  margin: 0 auto;
}

.project-card {
  margin-top:30px;
  background-color: #5786b0;
  color: #000000;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-details {
  flex: 1;
}

.project-card img {
  width: 400px;
  height: 200px;
  object-fit: cover;
  transform-origin: right center;
  outline: none;
  border-radius: 8px;
  margin-bottom: 0%;
  margin-right: 0%;
}

.image {
  margin-right: -30px;
  object-fit: cover;
  /* Scale image to cover the container */
  transform-origin: 80% 100%;
  /* Set rotation origin */
  border-radius: 0;
  /* Make the edges of the image straight */
  transition: transform 0.3s ease-in-out;
  /* Add smooth transition */
  transform: translateX(15%) translateY(7%);
}

.project-card img:hover {
  transform: rotate(-2deg) translateX(4%);
  /* Rotate and move image towards left */
}

/* Additional class for GitHub icons */
.icons {
  width: 45px !important;
  height: auto !important;
}

.github-btn {
  display: inline-block;
  padding: 7px 20px;
  margin-top: 10px;
  color: #000;
  text-decoration: none;
  background-color: white;
  border: 2px solid black;
  border-radius: 30px;
  transition: background-color 0.3s ease-in-out;
}

footer {
  text-align: center;
  padding: 4rem 0;
}

@media (max-width: 768px) {

  .static-half,
  .scrollable-half {
    width: 100%;
    margin-left: 0;
  }

  .project-card {
    flex-direction: column;
    text-align: center;
  }

  .project-image {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

#skills .container,
#skills .skills-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  justify-content: center;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
}

.skill img {
  width: 60px;
  height: 60px;
  margin-bottom: 8px;
}

.skill p {
  font-size: 0.8em;
  color: white;
  text-align: center;
}

.skill:hover {
  transform: scale(1.3);
}
